#footer {
    background: $primaryColor;
    width: 100%;
    height: $footerHeight;
    padding: 0 1.5rem;
    overflow: hidden;
    
    @media only screen and (min-width: 1010px) {
        padding: 0 2rem;
    }
    transition: 1s ease all;

    #content {
        color: $lightColor;
        margin: 0 auto;
        max-width: 1920px;
        height: 100%;
        position: relative;
        z-index: 100;

        #icons {
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;

            a {
                color: $lightColor;
            }
        }

        #copyrights {
            height: 15%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;

            > p {
                margin: 0;
            }
        }
    }
}