#sectionTitle {
    margin: 5px 12px;
    padding: 0;
    white-space: nowrap;
    font-size: 23px;
    color: $primaryColor;

    @media only screen and (max-width: 500px) {
        font-size: 19px;
    }
}