#menuSections {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    > img {
        min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
        width: 100%;
    }

    #download {
        cursor: pointer;
        border-radius: $borderRadius;
        background: $secondaryColor;
        padding: 0.6rem 1.1rem;
        border: 1px solid transparent;
        font-size: 30px;

        &:hover {
            // border-color: $primaryColor;
            background: rgba($secondaryColor, 0.9);
        }
    }

    #sectionList {

        > p {
            // color: $lightColor;
            font-size: 28px;
        }
    }
}