#oneColumnContentOneColumnImage {
    @extend .container-fluid;
    width: 55% !important;
    margin: 10px 0;
    padding: 0 !important;

    @media only screen and (max-width: $breakpointXXLg) {
        width: 65% !important;
    }

    @media only screen and (max-width: $breakpointXLg) {
        width: 75% !important;
        margin: 10px 0;
    }

    > div {
        @extend .row;
        display: flex;
        align-items: center;
        height: 100%;
        width: auto;

        > div {
            @extend .col-xl-6;
            @extend .col-lg-12;
        }

        > div:first-child {
            > #oneColumnContent {
                width: 100% !important;
                padding: 0;
            }
        }

        > div:last-child {
            height: 350px;
            > div {
                text-align: center;
                height: 100%;
            }
        }
    }
}