#oneColumnContent {
    @extend .container;
    width: 55% !important;
    text-align: justify;
    padding: 0px !important;
    font-size: 17px;
    margin: 10px 0;

    @media only screen and (max-width: 1500px) {
        width: 65% !important;
        font-size: 14px;
    }
}

