.productNavbar {
    @extend .container-fluid;
    padding: 0 !important;
    height: 50px;
    align-content: center;

    > nav {
        height: 100%;
        width: calc(100% - 40px);
        margin: 20px;

        > ul {
            height: 100%;
            width: auto;
            padding: 0;
            border-radius: 5px;
            border: 2px solid $primaryColor;
            display: flex;
            align-items: center;

            #section {
                margin: 0 20px;
                white-space: nowrap;
                font-size: 18px;
                text-decoration: none;
                color: $primaryColor;
            }

            > select {
                margin: 0 20px 0 auto;
                padding: 4px;
                white-space: nowrap;
                font-size: 18px;
                text-decoration: none;
                color: $primaryColor;
                // position: absolute;
                // top: 130px;
                // right: 20px;
            }
        }
    }
}