#threeColumnImage {
    @extend .container;
    width: 60% !important;
    padding: 0 !important;

    > div {
        @extend .row;
        margin: auto;
        justify-content: center;

        > img {
            @extend .col-sm-3;
            height: auto;
            width: auto;
            padding: 0px;
            margin: 20px 30px 40px 30px;

            @media only screen and (max-width: 950px) {
                margin: 10px auto 30px auto !important;
                justify-content: center;
            }
        }

        > img:first-child {
            margin-left: 0;
        }

        > img:last-child {
            margin-right: 0;
        }
    }
}