#title {
    @extend .container;
    margin: 20px auto;
    // display: unset;

    > p {
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;

        @media only screen and (max-width: 1500px) {
            font-size: 25px;
        }
    }
}