$font: Arial, Helvetica, sans-serif;

$primaryColor: #2f4f4f;
$secondaryColor: #e7ac5e;
$lightColor: #ffffff;
$bg: rgba(255, 255, 255, 0.986);

$spacing-md:16px;
$spacing-lrg: 32px;

$borderRadius: 16px;

$headerHeight: 100px;

@mixin breakpoint($point) {
    @if $point == md {
        @media (min-width: 48em) {
            @content;
        }
    }
}

