$font: 'Inria Sans', sans-serif;

$primaryColor: #2f4f4f;
$secondaryColor: #e7ac5e;
$lightColor: #ffffff;

$spacing-md:16px;
$spacing-lrg: 32px;

$borderRadius: 16px;

$headerHeight: 100px;

$footerHeight: 100px;

$breakpointSm: 500px;
$breakpointMd: 750px;
$breakpointLg: 1000px;
$breakpointXLg: 1300px;
$breakpointXXLg: 1500px;

@mixin breakpoint($point) {
    @if $point == md {
        @media (min-width: 48em) {
            @content;
        }
    }
}

